{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="image container-fluid">
    <div class="container">
        <div class="row">
            <div class="col col-md-8 col-sm-3 bg-dark text-white rounded mt-5 pb-3">
                <h2 class="">Tech, Games & More!</h2>
                <p class="">Premium products from a range of brands, at discounted prices!</p>
                <button class="btn btn-primary center">Shop Now!</button>
            </div>
        </div>
    </div>
</div>
{%endblock%}