{%extends 'base.html'%}

{% load static %}

{% block Title %} | Add Product{% endblock %}

{% block content%}


<div class="container">
    <h2>Add Product</h2>
    <form action="{%url 'createProduct'%}" method="POST" class="" novalidate>
        {% csrf_token %}
            {% for field in form %}
            <div class="">
                <label class="">{{field.label}}</label>
                <div class="">{{field}}</div>
            </div>
            {%endfor%}
        

        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
</div>
{% endblock %}