{%extends 'base.html'%}

{% load static %}

{% block Title %} | Product Administration{% endblock %}



{% block content %}
<h2 class="mt-2 ms-2">Product & Category Administration</h2>
<div class="container mt-5">
    <div class="row">
      <div class="col-md mt-1">
        <a href="{% url 'createProduct' %}" class="btn btn-primary">Create Product</a>
      </div>
      <div class="col-md mt-1">
        <a href="{% url 'updateCategory' %}" class="btn btn-primary">Update Category</a>
      </div>
      <div class="col-md mt-1">
        <a href="{% url 'updateParentCategory' %}" class="btn btn-primary">Update Parent Category</a>
      </div>
      <div class="col-md mt-1">
        <a href="{% url 'createCategory' %}" class="btn btn-primary">Create Category</a>
      </div>
      <div class="col-md mt-1">
        <a href="{% url 'createParentCategory' %}" class="btn btn-primary">Create Parent Category</a>
      </div>
    </div>
  </div>

{% endblock %}