{%extends 'base.html'%}

{% load static %}

{% block Title %} | Edit Parent Category{% endblock %}
{% block content%}
<div class="container">
    <h2>Edit Category{% if form %}<small> | {{form.name.value}} </small>{% endif%}</h2>
    {% if form %}
    <div class="">
        <form action="" method="POST" class="" novalidate>
            {% csrf_token %}
                {% for field in form %}
                <div class="">{{field.label}}</div>
                <div class="">{{field}}</div>
                {% endfor %}
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>        
        {% endif %}
    </div>
    
</div>

{% endblock %}