{% extends 'base.html' %}
{% load static %}
{% block Title %} | Products{% endblock %}
{% block content %}

<div class="container">
    <div class="row mt-1 mb-2">         
        <div class="col-12 col-md-6 ">
            <div class="sort-select-wrapper mt-2 d-flex justify-content-end ">
                <select name="sort-selector" id="sort-selector"
                    class="custom-select custom-select-sm rounded-0 border border-{%if current_sorting != 'None_None' %}info{%else%}black{%endif%}">
                    <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                    <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}><a
                            href="{% url 'products'%}?sort='price_asc'">Price (low to high)</option>
                    <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high
                        to low)</option>
                    <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low
                        to high)</option>
                    <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating
                        (high to low)</option>
                    <option value="title_asc" {% if current_sorting == 'title_asc' %}selected{% endif %}>Title (A-Z)
                    </option>
                    <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Title (Z-A)
                    </option>
                    <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category
                        (A-Z)</option>
                    <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>
                        Category (Z-A)</option>
                </select>
            </div>
        </div>
       
        <div class="col-12 col-md-6 order-md-first">
            <p class="text-muted mt-3 text-center text-md-left">
                {% if query or categories or current_sorting != 'None_None' %}
                <span class="small"><a href="{% url 'products' %}">Products Home</a> | </span>
                {% endif %}
                {{ products|length }} Products {% if query %} found for
                <strong>"{{ query }}"</strong>{% endif %}
            </p>
        </div>
    
        <div class="row w-100">
            {% for product in products %}
            <div class="col-sm-6 col-md-6 col-lg-4 mt-3 mb-2">
                <div class="card  h-100 border-1 bg-light">
                    {% if product.image_url %}
                    <a href="{% url 'productInfo' product.id %}">
                        <img src="{{product.image_url}}" alt="{{ product.name }}" class="card-img-top img-fluid">
                    </a>
                    {% else %}
                        <a href="{% url 'productInfo' product.id %}"></a>
                    {% endif %}
                    <div class="card-body pb-0">
                        <p class="mb-0">{{product.title}}</p>
                    </div>
                    <div class="card-footer bg-light">
                        <p class="lead mb-0 text-left font-weight-bold">£{{product.price}}</p>
                        {% if product.category %}
                            <a href="{% url 'products' %}?category={{ product.category.name }}"
                            class="text-muted">{{ product.category.name }}</a>
                        {% endif %}
    
                        {% if product.average_rating%}
                            <small class="text-muted"><i class="fas fa-star mr-1"></i>{{product.average_rating}} / 5</small>
                        {% elif product.average_rating == 0 %}
                            <small class="text-muted">No Rating</small>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
<script type="text/javascript">
    $('#sort-selector').change(function () {

        var selector = $(this);
        var currentURL = new URL(window.location);

        var selectedVal = selector.val();
        if (selectedVal != "reset") {
            var sort = selectedVal.split("_")[0];
            var direction = selectedVal.split("_")[1];

            currentURL.searchParams.set("sort", sort);
            currentURL.searchParams.set("direction", direction);

            window.location.replace(currentURL);
        } else {
            currentURL.searchParams.delete("sort");
            currentURL.searchParams.delete("direction");

            window.location.replace(currentURL);
        }

    })
</script>
{% endblock %}