{%extends 'base.html'%}
{%load static%}
{% block content%}

<div class="container">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 mt-3">
            {% if product.images %}
                <a href="{{product.images}}" target="_blank">
                    <img src="{{product.images}}" alt="{{ product.name }}" class="card-img-top img-fluid">
                </a>
            {% else %}

            {% endif %}
        </div>
        <div class="col-12 col-md-6 col-lg-6 mt-5">
            <p class="mb-0"><strong>{{product.title}}</strong></p>
            <p class="mb-0">{{product.description}}</p>
            <br>
            {% if product.category %}

                <p>{{product.category}}</p>

            {% endif %}
            {% if product.average_rating%}
                    <small class="text-muted"><i class="fas fa-star mr-1"></i>{{product.average_rating}} / 5</small>
            {% elif product.average_rating == 0 %}
                    <small class="text-muted">No Rating</small>
            {% endif %}
        </div>
    </div>
    
        

</div>
{%endblock%}