{%extends 'base.html'%}

{% load static %}

{% block Title %} | Edit Product{% endblock %}


{% block content %}
<h2>Edit Product</h2>
<div class="container text-center">
    <form action="{% url 'editProduct' 0 %}" method="POST" class="" novalidate>
        {% csrf_token %}
        <select name="product" id="product">
            {% for product in products %}
            <option value="{{product.id}}">{{product.title}}</option>
            {% endfor%}
        </select>
        <input class="btn btn-primary" type="submit" value="Submit">
    </form>
    
</div>
{% endblock %}