.image{
  background-image: url("/static/OneStopTechShopBackground.png");  
  background-size: cover;
  height: 100vh;
}

body{
  text-align:center;
  display:grid;
}


.category_filter{
  height:100%;
}


