.image{
  background-image: url("/static/OneStopTechShopBackground.png");  
  background-size: cover;
  height: 100vh;
}

body{
  text-align:center;
  display:grid;

}

footer{
  position: relative;
  bottom:0;
  width:100%;
}

main{
  height:100vh;
}


.category_filter{
  height:100%;
}
