{%extends 'base.html'%}

{% load static %}

{% block Title %} | Profile{% endblock %}



{% block content%}

<h2>Your Profile</h2>

<div class="container mb-5">
    <form action="{% url 'profile' %}" method="POST">
        {% csrf_token %}
        <div class="form-outline mt-2">
            <label for="full_name" class="form-label">Full Name</label>
            <input id="full_name" name="full_name" type="text" class="form-control profile-edit" value="{{userdetails.full_name}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">Email</label>
            <input type="text" id="email" name="email" class="form-control profile-edit" value="{{email}}"  readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">Phone Number</label>
            <input type="number" id="phone_no" name="phone_no" class="form-control profile-edit" value="{{userdetails.phone_number}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">Country</label>
            <input type="text" name="country" id="country" class="form-control profile-edit" value="{{userdetails.country}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">Postcode</label>
            <input type="text" id="postcode" name="postcode" class="form-control profile-edit" value="{{userdetails.postcode}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">Town</label>
            <input type="text" id="town" name="town" class="form-control profile-edit" value="{{userdetails.town}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">City</label>
            <input type="text" id="city" name="city" class="form-control profile-edit" value="{{userdetails.city}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">Street</label>
            <input type="text" id="street_name" name="street_name" class="form-control profile-edit" value="{{userdetails.street_name}}" readonly>
        </div>
        <div class="form-outline mt-2">
            <label for="" class="form-label">House Number</label>
            <input type="number" id="House_Number" name="house_number" class="form-control profile-edit" value="{{userdetails.house_number}}" readonly>
        </div>
        <button class="btn btn-primary d-none mt-2" id="submit">Submit</button>
        <button class="btn btn-primary mt-2" id="readonly_edit" name="edit">Edit</button>
    </form>
    
</div>
<script type="text/javascript" src="{% static 'js\profile.js' %}"></script>

{% endblock %}